/*Importar Fuentes Custom */
@font-face {
  font-family: "yanone";
  src: url("fonts/yanone.ttf");
}
@font-face {
  font-family: "finger";
  src: url("fonts/finger.ttf");
}

/*Generales */
* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: "yanone", Arial, Helvetica; /*Tipo de Letra(Fuente) */
  font-size: 20px; /* Tamaño de letra(Fuente) */
  background: url("../img/pattern.png");
  background-attachment: fixed; /*Se queda el fondo estatico */
}

.clearFix {
  float: none;
  clear: both;
}

/* Barra de navegacion / cabecera */
header {
  width: 100%;
  height: 90px;
  background: rgba(53, 103, 164, 0.8);
  position: fixed;
  text-transform: uppercase;
}

header ul {
  display: block;
  width: 37%;
  height: inherit;
  margin: 0px auto;
  margin-top: -3px;
}

header ul li {
  display: inline-block;
  margin: 0px auto;
  text-align: center;
  line-height: 88px;
}

header a {
  display: block;
  padding-right: 20px;
  padding-left: 20px;
  height: inherit;
  text-decoration: none;
  color: white;
  transition: all 300ms;
}

header a:hover,
.actived {
  background: rgba(0, 0, 0, 0.8);
}

/*Logotipo*/
#logo {
  font-family: "finger";
  font-size: 30px;
}

#logo a {
  transition: color 500ms, transform 500ms;
}

#logo a:hover {
  background: transparent;
  color: black;
  transform: scale(1.5, 1.5);
}

/*Contenedor */
#content {
  min-height: 700px;
  padding-top: 120px;
  width: 75%;
  margin: 0px auto;
  box-shadow: 0px 0px 40px black;
  background: rgba(255, 255, 255, 0.7);
  border-left: 1px solid #b7b7b7;
}

/*Footer */
footer {
  width: 75%;
  margin: 0px auto;
  padding-top: 15px;
  color: rgba(0, 0, 0, 0.5);
}

/*About */
#title {
  width: 75%;
  margin: 0px auto;
  padding-top: 15px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 70px;
  margin-bottom: 70px;
}

#title h1 {
  font-family: "finger";
  font-size: 60px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

#title h2 {
  font-size: 25px;
  color: gray;
  margin-top: 5px;
  margin-bottom: 5px;
}

article.about {
  width: 70%;
  margin: 0px auto;
  margin-bottom: 20px;
  font-size: 23px;
}

.about h2 {
  border-bottom: 1px solid #ccc;
}

.about p {
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: justify;
}


/* Sección Formulario*/ 
.container{
  padding: 50px;
  padding-top: 10px;
}

.container h2{
  border-bottom: 1px solid #ccc;
  margin-bottom: 2%;
}

form{
  width: 80%;
}

form label{
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea{
  width: 40%;
  padding:5px;
} 

form button,
form input[type="submit"]{
  display: block;
  font-size: 17px;
  padding: 10px;
  margin-top: 15px;
  color: white;
  background: rgba(53, 103, 164, 1);
  border: 1px solid rgba(13, 67, 133, 1);
  cursor: pointer;
}

form button:hover,
form input[type="submit"]:hover{
  background: rgba(53, 103, 164, 0.8);
  border: 1px solid rgba(13, 67, 133, 1);
}

form input[disabled]{
  opacity: 0.4;
  cursor: not-allowed;
}

.formError{
  font-size: 13px;
  padding: 3px;
  background: red;
  color: whitesmoke;
  margin-left: 5px;
}

.message{
  padding: 5px;
  width: 50%;
  border: 1px solid #eee;
}

.success{
  background: green;
  color: white;
}

.success a{
  color: white;
}

.failed{
  background: red;
  color: white;
}

